body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
}

:root {
  /* GLOBAL COLOR VARIABLES */
  --light-grey: #d3d0cb;
  --light-green: #8ff7a7;
  --light-yellow: #fcdc4d;
  --dark-grey: #77747a9d;
  /* KEYBOARD VARIABLES */
  --kb-btn-height: 3rem;
  --kb-btn-width: 4rem;
}

ul,
ol {
  list-style: none;
}

/* CREATE GAME */
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#wordle-title {
  margin: 0;
  margin-top: 1rem;
  font-size: 3rem;
  user-select: none;
}

#create-game-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#create-game-ul {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  margin-bottom: 1rem;
}

#create-game-ul>* {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 2rem;
}

#open-help-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none !important;
}

button {
  outline: none;
  padding: 0.25rem 1rem;
  font-weight: 500;
  font-size: 1.5rem;
  border-radius: 1rem;
  border: 1px #b8b3be solid;
  touch-action: manipulation;
  margin-bottom: .5rem;
  width: min(100%, 80vw);
  color: #000;
}

/* GAME BOXES */
#game-wrapper {
  width: min(100%, 500px);
}

.game-row {
  /* template columns are set in wordle.ts */
  display: grid;
  width: 100%;
  padding: 0;
  align-items: center;
  justify-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.game-row-sticky {
  position: sticky;
  top: 1rem;
  z-index: 1;
  background-color: #f0efe9;
  border-radius: 5%;
  height: 6rem;
  overflow: visible;
}

.game-box {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 1rem;
  box-sizing: border-box;
  width: 100%;
  border: solid rgb(121, 121, 121) 2px;
  max-width: 4.75rem;
  min-height: 4rem;
  overflow: hidden;
  user-select: none;
}

.game-box-letter {
  width: 100%;
  height: 100%;
}

.game-box-default {
  background-color: var(--light-grey) !important;
}

.game-box-green {
  background-color: var(--light-green) !important;
}

.game-box-yellow {
  background-color: var(--light-yellow) !important;
}

.game-box-grey {
  background-color: var(--dark-grey) !important;
}

/* MODAL */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow-y: scroll;
}

.modal-content {
  margin: 2% auto;
  padding: 1rem 2rem;
  border: 1px solid #888;
  width: min(80%, 500px);
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
}

.modal-content>header {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.modal-correct-word {
  text-align: center;
}

.modal-added {
  text-align: center;
}

.modal-name-input {
  font-size: 1.5rem;
}

.graph-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dist-title {
  margin: 0;
}

.dist-type {
  margin: 0 0 0.25rem 0;
}

.stats-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin-bottom: 1rem;
  margin-inline: 1.5rem;
}

.stats-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-grey);
  border-radius: 1rem;
  padding: 0.5rem 0;
}

.stats-label {
  font-size: 0.75rem;
  font-weight: 500;
  text-align: center;
}

.stats-value {
  font-size: 1rem;
  font-weight: 500;
}

.modal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 1rem;
  align-items: center;
  margin-top: 1rem;
}

/* KEYBOARD */
/* i think this is the most elegant way to do this, it works */
#kb-wrapper {
  overflow: hidden;
  width: min(100%, 600px);
}

#kb-wrapper>* {
  gap: 0.25rem;
  padding: 0.1rem;
}

.kb-row-0 {
  display: grid;
  grid-template-columns: repeat(10, 1fr) 1fr;
}

.kb-row-1 {
  display: grid;
  grid-template-columns: repeat(9, 1fr) 1fr;
  margin-inline-start: 1rem;
  margin-left: 0;
}

.kb-row-2 {
  margin-inline: min(8rem, 30px);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.kb-key {
  width: 100%;
  background-color: var(--light-grey);
  border-radius: 1rem;
  height: var(--kb-btn-height);
  padding-inline: 0.1rem;
  user-select: none;
}

button:hover {
  /* i don't know if i like this */
  filter: brightness(0.95);
}

/* TIMER */
#timer {
  position: fixed;
  right: 0.5rem;
  top: 0;
  color: black;
  font-size: 1.5rem;
  user-select: none;
}

#timer>* {
  display: inline;
  user-select: none;
}

/* SCOREBOARD */

td,
th {
  padding: 0.5rem;
  text-align: center;
  outline: solid 1px #b8b3be;
}

.shake-effect {
  animation: shake infinite 1s linear;
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.gradient-wrapper {
  background: linear-gradient(90deg,
      #f17c58,
      #e94584,
      #24aadb,
      #27dbb1,
      #ffdc18,
      #ff3706);
  background-size: 600% 100%;
  animation: gradient 25s linear infinite;
  animation-direction: alternate;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 100%;
  }
}

/* credits */
#credits {
  bottom: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

/* make a footer work on mobile*/
@media screen and (max-height: 900px) {
  #credits {
    position: relative;
    margin-bottom: 0;
  }
}

#scoreboard-options-subwrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: .25rem auto;
}

#back-btn {
  position:absolute;
  top: 4px;
  left: 4px;
  width: fit-content !important;
}